body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
                        rgba(0,0,0,0.65), 
                        rgba(0,0,0,0.65)
                    ), 
                    url(../img/index-background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    margin: auto;
    padding: 15px 25px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h2 {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.navbar h2:hover {
    color: #00BFFF;
    transition: 0.5s;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 20px;
    
    position: relative;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #00BFFF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1 {
    font-size: 45px;
}

.content p {
    font-size: 20px;
    margin: 10px 0 10px;
}

.content .btn {
    margin: 25px 0 0 0;
}

.content button {
    width: 200px;
    padding: 15px 0 15px 0;
    text-align: center;
    margin: 0 10px 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #00BFFF;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.content span {
    background: #00BFFF;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content button:hover span {
    width: 100%;
}

.content button:hover {
    border: 2px solid transparent;
}
