body {
    width: 100%;
    background: rgb(240, 240, 240);
    height: auto;
}

/*.navbar {
    margin: auto;
    padding: 15px 25px 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

.navbar h2 {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.navbar h2:hover {
    color: #00BFFF;
    transition: 0.5s;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 20px;
    
    position: relative;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #00BFFF;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}*/

.box {
    width: 30%;
    height: auto;
    background-color: white;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px 35px 30px 35px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box h2 {
    text-align: center;
    margin: 0 5px 5px 5px;
    padding: 0 10px 20px 10px;
}

.box label {
    font-weight: bold;
    font-size: 16px;
}

/*.box select {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 0 5px 0;
    
    outline: none;
}*/

.box input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    height: 40px;
    font-size: 15px;
    margin: 0 0 5px 0;
    
    outline: none;
}

/*.box .type,
.username,
.pwd,
.confirm-pwd {
    margin: 0 0 20px 0;
}*/

.box .pwd,
.confirm-pwd {
    margin: 0 0 20px 0;
}

.box .help {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    margin-bottom: 10px;
}

.box .help h3{
    font-size: 16px;
    margin-bottom: 10px;
}

.box .help p {
    font-size: 15px;
}

.box button {
    width: 65%;
    height: 40px;
    text-align: center;
    margin: 20px 0 0 0;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.box span {
    background: black;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.box button:hover span {
    width: 100%;
}

.box button:hover {
    border: none;
    color: white;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
    line-height: 25px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}