/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e3e3e3;
    font-family: sans-serif;
    height: 100vh;   
    font-size: 15px;
}

.nav{

    display: flex;
    flex-direction: column;
    background-color: #606060;
    position: relative;
}

.icon_box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 5px;
}

.icons{
    background-color:#606060;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 45px;
    margin-right: 20px;
}


.icons > a{
    margin-inline: 10px;   
}

.icons > a {
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 30px;

}

.menu{
    margin-top: 40px;
}

.menu_items{
    display:flex;
    align-items: center;
    justify-content: center;
   
}

.menu_items_links{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.menu_items_links:hover{
    color: #1a1abd;
    border-radius: 10px 10px 0 0;
}

.menu_items_links_active{
    background-color: #e3e3e3;
    color: #0e0d0d;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
}

.nav{
    position: relative;
}

.nav-left{
    position: absolute;
    left: 0%;
    top: 0;
    max-height:10px
}

img{
    max-width: 28%;
    aspect-ratio: 1.7;
}